#KnockToWindow{
    position: absolute;
    background-color: transparent;
    display:flex;
    overflow:hidden;
    z-index:99999;
}

.KTW-Position-Top{
    top: 0;
}

.KTW-Position-Middle{
    top: 50%;
    transform: translateY(-50%);
}

.KTW-Position-Bottom{
    bottom: 0;
}

.KTW-Position-Left{
    left: 0;
}

.KTW-Position-Center{
    left: 50%;
    transform: translateX(-50%);
}

.KTW-Position-Right{
    right: 0;
}

.KTW-MC{
    transform: translate(-50%,-50%);
}

.KTW-Direction-Right-to-left{
    flex-direction:row;
}

.KTW-Direction-Left-to-right{
    flex-direction:row-reverse;
}

.KTW-Direction-Top-to-bottom{
    flex-direction:column;
}

.KTW-Direction-Bottom-to-top{
    flex-direction:column-reverse;
}

@keyframes fade {
    0%{
        opacity:0;
    }

    100%{
        opacity:1;
    }
}

@keyframes show {
    0%{
        transform: scale(0,0);
    }

    100%{
        transform: scale(1,1);
    }
}

@keyframes slide-ltr {
    0%{
        transform: translateX(-50%) scaleX(0);
    }

    100%{
        transform:translateX(0) scaleX(1);
    }
}

@keyframes slide-btt {
    0%{
        transform: translateY(50%) scaleY(0);
    }

    100%{
        transform:translateY(0) scaleY(1);
    }
}

@keyframes slide-rtl {
    0%{
        transform: translateX(50%) scaleX(0);
    }

    100%{
        transform:translateX(0) scaleX(1);
    }
}

@keyframes slide-ttb {
    0%{
        transform: translateY(-50%) scaleY(0);
    }

    100%{
        transform:translateY(0) scaleY(1);
    }
}

@keyframes slide-btt {
    0%{
        transform: translateY(50%) scaleY(0);
    }

    100%{
        transform:translateY(0) scaleY(1);
    }
}

.KTW-AnimationOpen{
    animation: fade 0s;
}

.KTW-AnimationClose{
    animation: show 1s reverse;
}



















.KTWNotice{
    height:100px;
    width:300px;
    position:relative;
    background-color: #81A6B3;
    box-shadow: 0 0 5px #000;
    border: solid 1px #0A0F18;
}



.KTWClose{
    position:absolute;
    bottom:2px;
    right:2px;
    background-color: #3f3f3a;
    color: #fff;
}

.KTWNotice:hover{
    border: solid 2px #0A0F18;
    box-shadow: 0 0 10px #000;
    cursor:pointer;
}

.KTWFadeOpen{
    opacity: 1;
}

.KTWFadeClose{
    opacity: 0;
}

.KTWSlideOpen{
    height: 100px;
}

.KTWSlideClose{
    height: 0;
}

.KTWSlideOpenHorizontal{
    width: 200px;
}

.KTWSlideCloseHorizontal{
    width: 0;
}

.KTWShowOpen{
    width: 200px;
    height: 100px;
    margin-top: 0;
    margin-left: 0;
}

.KTWShowClose{
    width: 0;
    height: 0;
    margin-top: 50px;
    margin-left: 100px;
}



.block{
    width:300px;
    height:300px;
    position:relative;
    float:left;
    background-color: #f00;
}
