/**
 * KnockToWindow v 1.5
 * Date: 2015-03-24
 */


/** Position of the main block*/

.KTW-Position-Custom{
    top: 20%;
    right: 15%;
}

.KTW-Position-Top{
    top: 0;
}

.KTW-Position-Middle{
    top: 50%;
    transform: translateY(-50%);
}

.KTW-Position-Bottom{
    bottom: 0;
}

.KTW-Position-Left{
    left: 0;
}

.KTW-Position-Center{
    left: 50%;
    transform: translateX(-50%);
}

.KTW-Position-Right{
    right: 0;
}

.KTW-MC{
    transform: translate(-50%,-50%);
}

/** Direction of the adding block notices*/

.KTW-Direction-Right-to-left{
    flex-direction:row;
}

.KTW-Direction-Left-to-right{
    flex-direction:row-reverse;
}

.KTW-Direction-Top-to-bottom{
    flex-direction:column;
}

.KTW-Direction-Bottom-to-top{
    flex-direction:column-reverse;
}

/** Rules of animation*/

@keyframes fade-in {
    0%{
        opacity:0;
    }

    100%{
        opacity:1;
    }
}

@keyframes fade-out {
    0%{
        opacity:1;
    }

    100%{
        opacity:0;
    }
}

@keyframes show {
    0%{
        transform: scale(0,0);
    }

    100%{
        transform: scale(1,1);
    }
}

@keyframes hide {
    0%{
        transform: scale(1,1);
    }

    100%{
        transform: scale(0,0);
    }
}

@keyframes slide-open-ltr {
    0%{
        transform: translateX(-50%) scaleX(0);
    }

    100%{
        transform:translateX(0) scaleX(1);
    }
}

@keyframes slide-open-rtl {
    0%{
        transform: translateX(50%) scaleX(0);
    }

    100%{
        transform:translateX(0) scaleX(1);
    }
}

@keyframes slide-open-ttb {
    0%{
        transform: translateY(-50%) scaleY(0);
    }

    100%{
        transform:translateY(0) scaleY(1);
    }
}

@keyframes slide-open-btt {
    0%{
        transform: translateY(50%) scaleY(0);
    }

    100%{
        transform:translateY(0) scaleY(1);
    }
}

@keyframes slide-close-ltr {
    0%{
        transform:translateX(0) scaleX(1);

    }

    100%{
        transform: translateX(-50%) scaleX(0);
    }
}

@keyframes slide-close-rtl {
    0%{
        transform:translateX(0) scaleX(1);
    }

    100%{
        transform: translateX(50%) scaleX(0);
    }
}

@keyframes slide-close-ttb {
    0%{
        transform:translateY(0) scaleY(1);

    }

    100%{
        transform: translateY(-50%) scaleY(0);
    }
}

@keyframes slide-close-btt {
    0%{
        transform:translateY(0) scaleY(1);
    }

    100%{
        transform: translateY(50%) scaleY(0);
    }
}

/*** Settings of animation */

.KTW-Animation-Open{
    animation: show 0.5s;
}

.KTW-Animation-Close{
    animation: hide 0.5s;
}

.KTW-Animation-None{
    animation:none;
}

/** Other styles of blocks*/

#KnockToWindow{
    position: absolute;
    background-color: transparent;
    display:flex;
    overflow:hidden;
    z-index:99999;
}

.KTWNotice{
    position:relative;
    background-color: #81A6B3;
    box-shadow: 0 0 5px #000;
    border: solid 1px #0A0F18;
}

.KTWClose{
    position:absolute;
    bottom:2px;
    right:2px;
    background-color: #3f3f3a;
    color: #fff;
}

.KTWNotice:hover{
    border: solid 2px #0A0F18;
    box-shadow: 0 0 10px #000;
    cursor:pointer;
}
